# ─── ỨNG DỤNG NODE.JS ─────────────────────────
# Cổng chạy ứng dụng (Mặc định: 3000)
PORT=

# Môi trường chạy (development | production)
NODE_ENV=

# ─── CƠ SỞ DỮ LIỆU MONGODB ────────────────────
# Chuỗi kết nối MongoDB
# - Nếu chạy trên Host (Phase 2): mongodb://localhost:27017/midterm_db
# - Nếu chạy Docker (Phase 3): mongodb://mongo:27017/midterm_db
MONGO_URI=